<h2>Edit feed</h2>
<div id="home_create_form">
 	<form action="/feed/<%= @feed.id %>/save" method="post">
 	<ul>
      <li>Title <input id="title" name="feed[title]" size="30" type="text" value="<%= @feed.title %>" /></li>
      <li>URL <input id="url" name="feed[url]" size="30" type="text" value="<%= @feed.url %>" /></li>
      <input name="commit" type="submit" value="Save" />
   </ul>
	</form>
	</div>