<div id="template_editor">
	<form method="POST" action="/generate/template/commit">
		<textarea>

			<%= Homer.template_top_wrapper(Homepage.find(@homepage_id)) %>
			
			<% Homer.template_slots(@assigned_stories).each do |slot| %>
				<%= slot %>
			<% end %>
			
			<%= Homer.template_bottom_wrapper %>
		
		</textarea>
		<input name="commit" type="submit" value="Save" />
	</form>
</div>