<div id="home_menus">

<div class="list">
<h2>Your Homepages</h2>

<ul>
	<% @homepages.each do |homepage| %>
		<li><a href="<%= homepage.id %>"><%= homepage.title %></a></li>
	<% end %>
		<li><a href="/homepage/new">+1</a></li>
</ul>
</div>

<div class="list">
<h2>Your Feeds</h2>
<ul>	
	<% @feeds.each do |feed| %>
	<li><a href="<%= feed.url %>"><%= feed.title %></a></li>
	<% end %>
	<li><a href="/feed/new">+1</a></li>
</ul>
</div>
</div>