<h2>New Homepage</h2>
<div id="home_create_form">
 	<form action="/homepage/new" method="post">
 	<ul>
      <li>Give this homepage a name <input id="title" name="homepage[title]" size="30" type="text" /></li>
      <li>Tell me where it should reside in the filesystem <input id="path" name="homepage[path]" size="30" type="text" value="/foo/bar/baz/index.html" /></li>
      <input name="commit" type="submit" value="Create" />
	</ul>
	</form>
</div>