<h2>Add a feed</h2>

 	<form action="/feed/new" method="post">
      <p>title <input id="title" name="feed[title]" size="30" type="text" /></p>
      <p>url <input id="url" name="feed[url]" size="30" type="text" /></p>
      <input name="commit" type="submit" value="Create" />
	</form>